<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js
    "></script>
    <script src="/javascripts/project.js"></script>
    <title>Available Products</title>
  </head>
  <body>
    <h4
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
      "
    >
      <b> Available Products </b>
    </h4>

    <% if(status==false) {%>
    <h3 style="display: flex; justify-content: center; align-items: center">
      <%= data %>
    </h3>
    <%} else { %>
    <table class="table centered" style="cursor: not-allowed">
      <thead>
        <tr>
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Description</th>
          <th>Category - SubCategory - Brand - Rating</th>
          <th>Price - Offer Price</th>
          <th>Status - Stock</th>
          <th>Picture</th>
          <th>Action</th>
        </tr>
      </thead>
      <% data.map((item)=>{%>
      <tbody>
        <tr>
          <td><%= item.productid %></td>
          <td><%= item.productname %></td>
          <td><%= item.description %></td>
          <td>
            <%= item.categoryname %> - <%= item.subcategoryname %> -
            <%=item.brandname %> - <%= item.rating %>
          </td>
          <td>
            <s style="color: red"> &#8377; <%=item.price%>/-</s>
            <b style="color: blue"> &#8377;<%= item.offerprice %>/- </b>
          </td>
          <td><%= item.status %> - <strong><%= item.stock %></strong></td>
          <td>
            <button
              type="button"
              class="btnPicture"
              products="<%=JSON.stringify(item)%>"
              style="cursor: pointer"
            >
              <img
                src="/images/<%= item.picture %>"
                alt="Picture"
                style="border-radius: 128px; width: 64px"
              />
            </button>
          </td>
          <td>
            <input
              class="ves-effect waves-light btn-small btnEdit"
              type="button"
              value="Edit"
              id="btnEdit"
              products="<%=JSON.stringify(item)%>"
            />
          </td>
        </tr>
      </tbody>
      <%})%>
    </table>
    <% } %>

    <!-- Modal Structure -->

    <!-- Edit Product Modal Start -->
    <div id="product" class="modal" style="overflow-y: hidden">
      <div class="modal-content">
        <h4 style="display: flex; justify-content: center; align-items: center">
          <i> Edit Product </i>
        </h4>
        <div>
          <div class="row">
            <div class="input-field col s4">
              <select required name="categoryid" id="categoryid">
                <option disabled selected>Select Category</option>
              </select>
              <label>Category</label>
            </div>
            <div class="input-field col s4">
              <select required name="subcategoryid" id="subcategoryid">
                <option disabled selected>Select Sub-Category</option>
              </select>
              <label>Sub-Category</label>
            </div>
            <div class="input-field col s4">
              <select name="brandid" id="brandid">
                <option disabled selected>Select Brand</option>
              </select>
              <label>Brand</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
              <i class="material-icons prefix">sentiment_very_satisfied</i>
              <input
                id="productname"
                name="productname"
                type="text"
                class="validate"
                required
              />
              <label for="icon_prefix">Product Name</label>
            </div>
            <div class="input-field col s4">
              <i class="material-icons prefix">description</i>
              <input
                id="description"
                type="text"
                name="description"
                class="validate"
                required
              />
              <label for="icon_prefix">Product Description</label>
              <input type="hidden" id="productid" />
            </div>
            <div class="input-field col s4">
              <i class="material-icons prefix">shopping_cart</i>
              <input id="stock" type="text" name="stock" class="validate" />
              <label for="icon_telephone">Stock</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <i class="material-icons prefix">attach_money</i>
              <input
                id="price"
                type="text"
                class="validate"
                name="price"
                required
              />
              <label for="icon_prefix">Price</label>
            </div>
            <div class="input-field col s3">
              <i class="material-icons prefix">money_off</i>
              <input
                id="offerprice"
                name="offerprice"
                type="text"
                class="validate"
                required
              />
              <label for="icon_prefix">Offer Price</label>
            </div>
            <div class="input-field col s3">
              <i class="material-icons prefix">rate_review</i>
              <input
                id="rating"
                type="text"
                name="rating"
                class="validate"
                required
              />
              <label for="icon_telephone">Rating</label>
            </div>
            <div class="input-field col s3">
              <select required name="status" id="status">
                <option disabled selected>Select Status</option>
                <option>Continue</option>
                <option>Discontinue</option>
              </select>
              <label>Status of Product</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s3">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="action"
                id="updBtn"
              >
                Modify Details
                <i class="material-icons right">edit</i>
              </button>
            </div>
            <div class="input-field col s3">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="action"
                id="delBtn"
              >
                Delete Product
                <i class="material-icons right">edit</i>
              </button>
            </div>
            <div class="input-field col s6 modal-footer">
              <a href="#!" class="modal-close">
                <button class="btn waves-effect waves-light">
                  Close
                  <i class="material-icons close">close</i>
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit Product Modal End -->

    <!-- Picture Updation Modal Start -->
    <div id="pictureDialog" class="modal">
      <div class="modal-content">
        <h5
          id="title"
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bolder;
            margin-bottom: 16px;
          "
        >
          <b> Edit Picture </b>
        </h5>
        <div class="editPicture">
          <img
            id="pPicture"
            style="
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;
              width: 264px;
              height: 216px;
              border-radius: 128px;
            "
          />
        </div>
        <div>
          <strong
            style="
              font-size: 18px;
              display: flex;
              justify-content: center;
              align-items: center;
            "
            >Select New Picture</strong
          >
        </div>
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file" name="picture" required />
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div
            class="col s6"
            style="display: flex; justify-content: flex-start; cursor: pointer"
          >
            <button
              type="button"
              id="uploadPicture"
              class="btn waves-effect waves-light"
            >
              Upload
            </button>
          </div>
          <div class="col s6">
            <a class="modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Picture Updation Modal End -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer>
      $(document).ready(function () {
        $(".modal").modal();

        $(".btnEdit").click(function () {
          $("#product").modal("open");
          const item = JSON.parse($(this).attr("products"));

          $("#productid").val(item.productid);

          $("#categoryid").val(item.categoryid);
          $("#categoryid").formSelect();

          $("#subcategoryid").append(
            $("<option>").text(item.subcategoryname).val(item.subcategoryid)
          );
          $("#subcategoryid").val(item.subcategoryid);
          $("#subcategoryid").formSelect();

          $("#brandid").append(
            $("<option>").text(item.brandname).val(item.brandid)
          );
          $("#brandid").val(item.brandid);
          $("#brandid").formSelect();

          $("#productname").val(item.productname);
          $("#description").val(item.description);
          $("#rating").val(item.rating);
          $("#price").val(item.price);
          $("#offerprice").val(item.offerprice);
          $("#stock").val(item.stock);

          $("#status").val(item.status);
          $("#status").formSelect();

          M.updateTextFields();
        });

        $("#updBtn").click(function () {
          $.getJSON(
            "/product/editproduct",
            {
              categoryid: $("#categoryid").val(),
              subcategoryid: $("#subcategoryid").val(),
              brandid: $("#brandid").val(),
              productname: $("#productname").val(),
              price: $("#price").val(),
              offerprice: $("#offerprice").val(),
              rating: $("#rating").val(),
              description: $("#description").val(),
              stock: $("#stock").val(),
              status: $("#status").val(),
              productid: $("#productid").val(),
            },
            function (data) {
              alert(data.message);
              window.location.reload("/product/display");
            }
          );
        });

        $("#delBtn").click(function () {
          $.getJSON(
            "/product/deleteproduct",
            {
              productid: $("#productid").val(),
            },
            function (data) {
              alert(data.message);
              window.location.reload("/product/display");
            }
          );
        });

        $(".btnPicture").click(function () {
          $("#pictureDialog").modal("open");

          var item = JSON.parse($(this).attr("products"));

          $("#title").html(`Edit Product ${item.productname}`);

          $("#pPicture").attr("src", `/images/${item.picture}`);
        });
      });
    </script>
  </body>
</html>
